$light: #f7f7f7;
$dark: #222121;
$lime: #00cc66;
$orangeRed: #fb4b4e;
$blue: #2541b2;
$white: #fff;

//font size
$font-med: 1.125rem; //18px
$font-sm: 0.875rem; //14px

//header gradient
$lightred: #ac9c9c;
$lightgreen: #00ffb3;

//body gradient
$fst: #00ffb3;
$snd: #00d4ff;
$trd: #bfcbcf;
$frth: #2c678f;
$ffth: #15133d;